<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" %>
    <script src="https://kit.fontawesome.com/691543f2b3.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
